:root {
    --h0fs: 64px;
    --h3fs: 36px;
    --pfs: 22px;
    --spanfs: 16px;
    --wfs: 26px;
}

.jbg[data-v-2ba6adc5] {
    background: var(--bgtheme);
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: var(--textPrimary);
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.recent[data-v-2ba6adc5] {
    padding: 4% 4% 0px 4%;
    background: var(--bgrecent);
    margin-top: -17px;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: inset 0 10px 10px -16px var(--boxshadow);
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.constrain[data-v-2ba6adc5] {
    width: 100%;
    min-height: 100%;
    min-width: 200px;
}

.recent .top-items[data-v-2ba6adc5] {
    margin: 0 auto 12px;
}

.recent h1[data-v-2ba6adc5] {
    font-size: var(--h3fs);
}

h1 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0.1em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: var(--h0fs);
    font-weight: bold;
    color: #fff;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

p[data-v-2ba6adc5] {
    font-size: var(--pfs);
}

p[data-v-2ba6adc5] strong {
    font-weight: 700;
}

p[data-v-2ba6adc5] span {
    font-size: var(--spanfs);
    font-weight: 500;
}

p[data-v-2ba6adc5].w {
    font-size: var(--wfs);
    color: #fff;
    padding: 0px 8% 0px 8%;
}

.splitter {
    display: flex;
    flex-wrap: wrap;
}

.splittblock {
    flex-basis: 50%;
    padding: 16px;
}

.lv[data-v-2ba6adc5]::before {
    content: "Laipni lūgti!";
    animation: welcomelv 15s ease 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.ee[data-v-2ba6adc5]::before {
    content: "Tere tulemast!";
    animation: welcomeee 15s ease 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

@keyframes welcomelv {
    0% {
        content: "W";
    } 
    3% {
        content: "We";
    }
    6% {
        content: "Wel";
    }
    9% {
        content: "Welc";
    }
    12% {
        content: "Welco";
    }
    15% {
        content: "Welcom";
    }
    18% {
        content: "Welcome";
    }
    21% {
        content: "Welcome!";
    }
    45% {
        content: "Welcome!";
    } 
    46% {
        content: "Welcome";
    } 
    47% {
        content: "Welcom";
    }
    48% {
        content: "Welco";
    }
    49% {
        content: "Welc";
    }
    50% {
        content: "Wel";
    }
    51% {
        content: "We";
    }
    52% {
        content: "W";
    }
    53% {
        content: "　";
    }
    58% {
        content: "L";
    }
    61% {
        content: "La";
    }
    64% {
        content: "Lai";
    }
    67% {
        content: "Laip";
    }
    70% {
        content: "Laipn";
    }
    73% {
        content: "Laipni";
    }
    76% {
        content: "Laipni ";
    }
    79% {
        content: "Laipni l";
    }
    82% {
        content: "Laipni lū";
    }
    85% {
        content: "Laipni lūg";
    }
    87% {
        content: "Laipni lūgt";
    }
    90% {
        content: "Laipni lūgti";
    }
    93% {
        content: "Laipni lūgti!";
    }
    100% {
        content: "Laipni lūgti!";
    }
}

@keyframes welcomeee {
    0% {
        content: "W";
    } 
    3% {
        content: "We";
    }
    6% {
        content: "Wel";
    }
    9% {
        content: "Welc";
    }
    12% {
        content: "Welco";
    }
    15% {
        content: "Welcom";
    }
    18% {
        content: "Welcome";
    }
    21% {
        content: "Welcome!";
    }
    45% {
        content: "Welcome!";
    } 
    46% {
        content: "Welcome";
    } 
    47% {
        content: "Welcom";
    }
    48% {
        content: "Welco";
    }
    49% {
        content: "Welc";
    }
    50% {
        content: "Wel";
    }
    51% {
        content: "We";
    }
    52% {
        content: "W";
    }
    53% {
        content: "　";
    }
    58% {
        content: "T";
    }
    61% {
        content: "Te";
    }
    64% {
        content: "Ter";
    }
    67% {
        content: "Tere";
    }
    70% {
        content: "Tere ";
    }
    73% {
        content: "Tere t";
    }
    76% {
        content: "Tere tu";
    }
    79% {
        content: "Tere tul";
    }
    82% {
        content: "Tere tule";
    }
    85% {
        content: "Tere tulem";
    }
    87% {
        content: "Tere tulema";
    }
    90% {
        content: "Tere tulemas";
    }
    93% {
        content: "Tere tulemast";
    }
    96% {
        content: "Tere tulemast!";
    }
    100% {
        content: "Tere tulemast!";
    }
}

.game_background {
    padding: 30px 22px;
    padding-bottom: 40px;
    background-image: url("/assets/images/7.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    box-shadow: inset 0 10px 10px -16px var(--boxshadow);
}

.game_background img {
    padding-left: var(--plimg);
    padding-right: var(--plimg);
    width: 100%;
    margin: 0 auto;
    user-select: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.whitebox {
    background-color: var(--wvsbbg);
    border-radius: 10px;
    padding: 15px 25px;
    height: 100%;
}

.whitebox div {
    display: block;
}

@media screen and (max-width: 1499px) {
    .whitebox div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) {
    .splittblock {
        flex-basis: 100%;
    }

    .clearfix::after {
        content: "";
        clear: none;
        display: none;
    }

    .whitebox img {
        position: fixed;
        left: -1100px;
    }
}

@media screen and (max-width: 537px) {
    :root {
        --h0fs: 36px;
        --h3fs: 24px;
        --pfs: 14px;
        --spanfs: 12px;
        --wfs: 18px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --wfs: 15px;
    }
}