:root {
    --gradient: radial-gradient(circle, rgba(255,254,0,1) 0%, rgba(101,255,77,1) 100%);
    --spanfs: 16px;
    --pfa: 6px 10px;
    --fwfa: 500;
    --fsfa: 17px;
}

:root[data-theme='dark'] {
    --gradient: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.footer[data-v-082a7a6b] {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 16px;
    background: var(--bgtheme);
    z-index: 2;
    user-select: none;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.constrain[data-v-082a7a6b] {
    overflow: hidden;
    width: 100%;
    height: 28px;
}
.footer a[data-v-082a7a6b] {
    cursor: pointer;
    color: #fff;
    text-align: right;
    text-decoration: none;
    padding: var(--pfa);
    float: right;
    font-weight: var(--fwfa);
    font-size: var(--fsfa);
    user-select: none;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.footer .left a[data-v-082a7a6b] {
    color: #fff;
    text-align: left;
    text-decoration: none;
    padding: var(--pfa);
    float: left;
    font-weight: var(--fwfa);
    font-size: var(--fsfa);
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.smail[data-v-082a7a6b] {
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    background: white;
}

a.smail[data-v-082a7a6b]::before {
    content: ":D";
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
  
.gradient {
    animation-name: gradient;
    animation-timing-function: ease-in-out;
}

@keyframes gradient {
        0% {
            background-position: 0 50%;
        }
        
        50% {
            background-position: 100% 50%;
        }
        
        100% {
            background-position: 0 50%;
        }
}

a.smail[data-v-082a7a6b]:hover {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    background: var(--gradient);
    background-size: 300%;
}

a.smail[data-v-082a7a6b]:hover::before {
    content: "Made by :Dejelnieks";
    animation: smail 5s ease 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

a[data-v-082a7a6b] .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: var(--spanfs);
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -40%; /* Use half of the width (x/2 = y), to center the tooltip */
    margin-bottom: 1%;
}
  
a[data-v-082a7a6b]:hover .tooltiptext {
    visibility: visible;
    animation-duration: 0.5s;
}

@keyframes smail {
    0% {
        content: ":D";
    }
    2% {
        content: "M :D";
    }
    4% {
        content: "Ma :D";
    }
    6% {
        content: "Mad :D";
    }
    8% {
        content: "Made :D";
    }
    10% {
        content: "Made b :D";
    }
    12% {
        content: "Made by :D";
    }
    15% {
        content: "Made by :D";
    }
    18% {
        content: "Made by :D";
    }
    30% {
        content: "Made by :D";
    } 
    33% {
        content: "Made by :De";
    }
    36% {
        content: "Made by :Dej";
    }
    39% {
        content: "Made by :Deje";
    }
    42% {
        content: "Made by :Dejel";
    }
    45% {
        content: "Made by :Dejeln";
    }
    48% {
        content: "Made by :Dejelni";
    }
    51% {
        content: "Made by :Dejelnie";
    }
    54% {
        content: "Made by :Dejelniek";
    }
    57% {
        content: "Made by :Dejelnieks";
    }
    80% {
        content: "Made by :Dejelnieks";
    }
    100% {
        content: "Made by :Dejelnieks";
    }
}

@media screen and (max-width: 452px) {
    :root {
        --spanfs: 12px;
        --pfa: 8px 8px;
        --fwfa: 500;
        --fsfa: 12px;
    }
}
