.header[data-v-0c67992c] {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 12px 15px;
    background: var(--bgheader);
    user-select: none;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.constrain[data-v-0c67992c] {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    min-width: 320px;
    max-width: 850px;
    margin: 0 auto;
    height: 28px;
}

.header a[data-v-0c67992c] {
    color: rgba(255, 255, 255, 0.966);
    text-align: right;
    text-decoration: none;
    padding: 0px 16px;
    float: right;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.header a.non[data-v-0c67992c] {
    color: #fff;
    text-align: right;
    text-decoration: none;
    padding: 0px 16px;
    float: right;
    font-weight: 800;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.header div.logo a[data-v-0c67993c] {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-left: 16px;
    float: left;
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header a:hover[data-v-0c67992c] {
    -webkit-text-shadow: 4px 4px 4px #fff;
    -moz-text-shadow: 4px 4px 4px #fff;
        text-shadow: 0px 0px 5px #fff;
}

.header a.non:hover[data-v-0c67992c] {
    -webkit-text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);;
    -moz-text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);;
        text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);;
}

.header div.logo a:hover[data-v-0c67993c] {
    -webkit-text-shadow: 4px 4px 4px #fff;
    -moz-text-shadow: 4px 4px 4px #fff;
        text-shadow: 0px 0px 2px #fff;
}

@media screen and (max-width: 465px) {
    .header a[data-v-0c67992c] {
        color: #fff;
        text-align: right;
        text-decoration: none;
        padding: 5px 16px;
        float: right;
        font-weight: 300;
        font-size: 13px;
        line-height: 1;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }

    .header a.non[data-v-0c67992c] {
        color: #fff;
        text-align: right;
        text-decoration: none;
        padding: 5px 16px;
        float: right;
        font-weight: 600;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
}

@media screen and (max-width: 421px) {
    .header a[data-v-0c67992c] {
        color: #fff;
        text-align: right;
        text-decoration: none;
        padding: 0px 16px;
        float: right;
        font-weight: 300;
        font-size: 13px;
        line-height: 1;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }

    .header a.non[data-v-0c67992c] {
        color: #fff;
        text-align: right;
        text-decoration: none;
        padding: 0px 16px;
        float: right;
        font-weight: 500;
        font-size: 13px;
        line-height: 1;
        -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }
}